<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/dashboardAdmin.css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Admin Dashboard</title>
</head>

<body>
    <nav class="nav">
        <div class="logo-name">
            <div class="logo-image">
                <img src="https://vnpayqr.vn/wp-content/uploads/2020/08/30shine-logo.png" alt="">
            </div>

            <span class="logo_name">30ShineAdmin</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/admin/dashboard">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Trang chủ</span>
                    </a></li>
                <li><a href="/admin/quan-ly-dat-lich">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name">Quản lý đặt lịch</span>
                    </a></li>
                <li><a href="/admin/san-pham">
                        <i class="uil uil-chart"></i>
                        <span class="link-name">Quản lý sản phẩm</span>
                    </a></li>
                <li><a href="/admin/hanh-trinh-toa-sang">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="link-name">Hành trình toả sáng</span>
                    </a></li>

            </ul>

            <ul class="logout-mode">
                <li><a href="/admin/signin">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>

                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>

            <img src="images/profile.jpg" alt="">
        </div>

        <div class="dash-content">


            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Quản lý đặt lịch</span>
                </div>


                <table class="table table-striped table-hover">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">SĐT</th>
                                <th scope="col">Salon</th>
                                <th scope="col">Dịch vụ</th>
                                <th scope="col">Stylist</th>
                                <th scope="col">Option</th>

                            </tr>
                        </thead>
                        <% for(let i=0;i< schedule.length;i++){%>
                            <tbody id="table-body">
                                <tr>
                                    <td scope="col">
                                        <%=schedule[i]._id %>

                                    </td>

                                    <td scope="col">

                                    </td>
                                    <td scope="col">
                                        <%=schedule[i].salon %>


                                    </td>
                                    <td scope="col">
                                        <%=schedule[i].combo %>


                                    </td>
                                    <td scope="col">
                                        <%=schedule[i].styList %>

                                    </td>
                                    <td scope="col">
                                        <span class="data-list">
                                            <button class="delete-btn d-<%=schedule[i]._id%>" id="deletebtn">
                                                <ion-icon class="delete-icon" name="trash-outline"></ion-icon>
                                            </button>
                                        </span>
                                        <span class="data-list">
                                            <button class="delete-btn update-btn u-<%=schedule[i]._id%>" id="updatebtn">
                                                <ion-icon class="update-icon" name="settings-outline"></ion-icon>
                                            </button>
                                        </span>

                                    </td>


                                </tr>

                            </tbody>
                            <% } %>
                    </table>
                </table>


            </div>
        </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/jsAdmin/adminSchedule.js"></script>
</body>

</html>