<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/service.css">
</head>

<body>

    <div class="booking-single-screen">
        <div class="booking-single-screen-1">
            <img class="booking-single-screen-1-img" src="	https://30shine.com/static/media/arrowLeft.3e6be3da.svg"
                alt="">
            <span class="booking-single-screen-1-1">Chọn dịch vụ</span>
            <span class="booking-single-screen-1-quy">1k = 1000đ</span>
        </div>
        <div class="booking-single-screen-2">
            <div class="service">
                <div class="service-1">
                    <span>Cắt gội massage</span>
                    <span>Combo chăm sóc da</span>
                    <span>Uốn Hàn Quốc</span>
                </div>
                <div class="service-2">
                    <div class="service-2-1">
                        <img src="https://30shine.com/static/media/bot_avatar_1654_1.26e1da41.jpg" alt="">
                        <span class="service-2-span">
                            Ngoài gói Shine Combo 10 bước nổi tiếng, chúng em còn có rất nhiều gói Chăm sóc da, Lấy ráy
                            tai và Uốn/Nhuộm dùng kèm rất tốt nữa đó
                        </span>
                    </div>
                    <div class="service-2-2">
                        <div class="service-2-2-1">CẮT GỘI MASSAGE</div>

                    </div>
                </div>

                <div class="service-3">
                    <% for( let i=0; i < comboList.length; i++ ) { %>

                        <div class="service-3-1">
                            <a href="/datlich?step=0&shopId=<%=shopId%>&comboId=<%=comboList[i].comboid  %>"
                                class="combo-link">
                                <div class="service-3-1-1">
                                    <img src=" <%=comboList[i].imageUrl %>" alt="">
                                    <div class="sokai">
                                        <span>
                                            <%=comboList[i].title %>
                                        </span>
                                    </div>
                                    <p>
                                        <%=comboList[i].description %>
                                    </p>
                                    <div class="nedan">
                                        <span>
                                            Giá: <%=comboList[i].price %>
                                        </span>
                                    </div>

                                </div>
                            </a>

                        </div>

                        <% } %>




                </div>
            </div>
        </div>
        <div class="booking-single-screen-3"></div>
    </div>


</body>

</html>